<a href="https://colab.research.google.com/github/x1001000/Python_snippets/blob/master/pandas_MultiIndex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.rand(5566,  4))
df

             0         1         2         3
0     0.072987  0.334504  0.484868  0.799880
1     0.234164  0.457712  0.618934  0.841326
2     0.482451  0.040487  0.213740  0.946993
3     0.436193  0.829954  0.814954  0.240483
4     0.126793  0.738878  0.959218  0.455443
...        ...       ...       ...       ...
5561  0.969126  0.961891  0.245007  0.575280
5562  0.056837  0.769342  0.164485  0.410183
5563  0.275181  0.503253  0.436760  0.791464
5564  0.265731  0.006725  0.728374  0.020870
5565  0.700263  0.958853  0.172078  0.426555

[5566 rows x 4 columns]

In [3]:
df.columns = pd.MultiIndex.from_tuples(zip(['Left', 'Left', 'Right', 'Right'], ['Vertical', 'Horizontal', 'Vertical', 'Horizontal']))
df

          Left                Right
      Vertical Horizontal  Vertical Horizontal
0     0.072987   0.334504  0.484868   0.799880
1     0.234164   0.457712  0.618934   0.841326
2     0.482451   0.040487  0.213740   0.946993
3     0.436193   0.829954  0.814954   0.240483
4     0.126793   0.738878  0.959218   0.455443
...        ...        ...       ...        ...
5561  0.969126   0.961891  0.245007   0.575280
5562  0.056837   0.769342  0.164485   0.410183
5563  0.275181   0.503253  0.436760   0.791464
5564  0.265731   0.006725  0.728374   0.020870
5565  0.700263   0.958853  0.172078   0.426555

[5566 rows x 4 columns]

In [4]:
df['Right']['Vertical']

0       0.484868
1       0.618934
2       0.213740
3       0.814954
4       0.959218
          ...
5561    0.245007
5562    0.164485
5563    0.436760
5564    0.728374
5565    0.172078
Name: Vertical, Length: 5566, dtype: float64